html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
}

nav div{
    background-color: teal;
    color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

nav a{
    text-decoration: none;
}


.menu-element:hover{
    background-color: whitesmoke;
}

.logo{
    background-color: transparent;
    flex-grow: 1;
}

.logo img{
    height: 50px;
}

body{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.main-container div{
    margin-left: 15px;
    margin-right: 15px;
}

.footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align-last: center;
}

@media only screen and (max-width: 600px){
    .main-container{
        flex-direction: column;
    }
}

.claro body{
    background-color: white;
}

.oscuro body{
    background-color: #222222;
    color: white;
}

.selector{
    margin: 10px;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}